* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Teko", sans-serif, 'Poppins';
    background: #ffffff;
    letter-spacing: 0.5px;
}

.nav-toggle {
    display: none;
}

#menuBtn {
    font-size: 34px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 900px) {
    .nav-links {
        display: none !important;
    }

    .nav-toggle {
        display: block;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background: #009688;
    padding-top: 100px;
    transition: .3s ease;
    z-index: 998;
}

.mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-left: 30px;
}

.mobile-menu a {
    color: white;
    font-size: 24px;
    font-family: "Teko", sans-serif;
    text-decoration: none;
}

.mobile-menu.open {
    right: 0;
}

.navbar {
    width: 100%;
    background: #009688;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
}

.nav-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 110px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links a {
    font-family: "Teko", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.videos-section {
    width: 100%;
    background: #029686;
    padding: 50px 20px;
    text-align: center;
    font-family: "Teko", sans-serif;
    margin-top: 60px;
}

.videos-title {
    color: white;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 40px;
    line-height: 1.3;
}

.video-box {
    margin-bottom: 40px;
}

.video-box p {
    color: white;
    font-size: 25px;
    margin-bottom: 8px;
}

.video-box video {
    width: 90%;
    max-width: 700px;
    height: 400px;
    border: 2px solid white;
    border-radius: 4px;
    background: #029686;
    object-fit: cover;
}

@media (max-width: 480px) {
    .videos-title {
        font-size: 18px;
    }

    .video-box video {
        height: 180px;
    }

    .video-box p {
        font-size: 16px;
    }

    .btn-outline{
        max-width: 60%;
    }
}

  .btn-outline {
    font-family: "Instrument Sans", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 700;
  }

  .btn-outline:hover {
    background-color: #ffffff;
    color: #004aad;
  }

.fixed-icons {
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 9999;
}

.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.icon-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

footer {
    background-color: #029686;
    color: #ffffff;
    padding: 70px 10%;
    position: relative;
    overflow: hidden;
    font-family: "Instrument Sans", sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Estrutura principal */
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 40px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-section p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #ffffff;
}

/* Lista de links */
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 12px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

/* Logo */
.logo-footer {
    justify-content: flex-start;
    max-width: 70px;
}

.logo-pitinin-footer {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-section .logo img:hover {
    transform: scale(1.05);
}

/* Linha inferior */
.footer-bottom {
    text-align: center;
    padding-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 900px) {
    footer {
        padding: 50px 5%;
    }

    nav {
        position: absolute;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }

    .footer-section h4 {
        font-size: 1.1rem;
    }

    .navbar {
        gap: 10px;
    }

    .logo h1 {
        max-width: 1000px;
    }
}