* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Teko", sans-serif, 'Poppins';
    background: #ffffff;
    letter-spacing: 0.5px;
}

.nav-toggle {
    display: none;
  }

  #menuBtn {
    font-size: 34px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  @media (max-width: 900px) {
    .nav-links {
      display: none !important;
    }

    .nav-toggle {
      display: block;
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background: #009688;
    padding-top: 100px;
    transition: .3s ease;
    z-index: 998;
  }

  .mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-left: 30px;
  }

  .mobile-menu a {
    color: white;
    font-size: 24px;
    font-family: "Teko", sans-serif;
    text-decoration: none;
  }

  .mobile-menu.open {
    right: 0;
  }

.navbar {
    width: 100%;
    background: #009688;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
}

.nav-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 110px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links a {
    font-family: "Teko", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.sobre-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background: #ffffff;
}

.sobre-container {
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
}

.sobre-logo {
  width: 400px;
  margin: 0 auto 30px;
  display: block;
  border-radius: 6px;
}

.sobre-title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin: 30px 0 10px;
  font-family: "Teko", sans-serif, 'Poppins';
}

.sobre-title span {
  font-style: italic;
}

.sobre-text {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 25px;
}

.sobre-img {
  width: 100%;
  max-width: 400px;
  display: inline-block;
  margin: 20px auto;
  border-radius: 6px;
}

.sobre-btn {
  display: inline-block;
  padding: 10px 22px;
  background: #ffffff;
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 25px;
  transition: 0.2s ease;
  border: 2px solid;
  font-family: "Instrument Sans", sans-serif;
}

.sobre-btn:hover {
  background-color: #000;
  color: #ffffff;
}

.sobre-container {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.sobre-container.show {
  opacity: 1;
  transform: translateY(0);
}

/* Responsividade */
@media (max-width: 480px) {
  .sobre-title {
    font-size: 18px;
  }

  .sobre-text {
    font-size: 14px;
  }

  .sobre-logo {
    width: 150px;
  }
  .sobre-btn{
    max-width: 60%;
    padding: 8px;
    font-size: 10px;
  }
}

.fixed-icons {
  position: fixed;
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 9999;
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.icon-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

footer {
    background-color: #029686;
    color: #ffffff;
    padding: 70px 10%;
    position: relative;
    overflow: hidden;
    font-family: "Instrument Sans", sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Estrutura principal */
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 40px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-section p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #ffffff;
}

/* Lista de links */
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 12px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

/* Logo */
.logo-footer {
    justify-content: flex-start;
    max-width: 70px;
}

.logo-pitinin-footer {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-section .logo img:hover {
    transform: scale(1.05);
}

/* Linha inferior */
.footer-bottom {
    text-align: center;
    padding-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 900px) {
    footer {
        padding: 50px 5%;
    }

    nav {
        position: absolute;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }

    .footer-section h4 {
        font-size: 1.1rem;
    }

    .navbar {
        gap: 10px;
    }

    .logo h1 {
        max-width: 1000px;
    }
}